.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  height: 100vh;
}
.image_conatiner{
  height: 70px;
  width: 80px;
  object-fit: contain;
  align-items: center;
}
.app_body{
  background-size: contain;
  height: 600px;    
}